.text_button {
  width: 25%;
  padding: 0;
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  border-radius: 0;
  border: none;
  cursor: pointer;
  color: #c1c1c1;
  outline: none;
  &.hidden {
    visibility: hidden;
  }
  &:hover {
    color: #333333;
  }
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}