.footer_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 17px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
}

.regulate_btn {
  display: flex;
  justify-content: space-between;
  width: 35%;
}