.todo_list {
  list-style: none;
  max-height: 335px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  & .todo_item {
    display: flex;
    align-items: center;
    padding: 13px 13px 15px;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #E6E6E6;
    & .todo_info {
      display: block;
    }
  }
}

.todo_info.active{
  text-decoration: line-through;
  color: #c1c1c1;
}

.trash_button {
  margin-left: auto;
  color: #c1c1c1;
  cursor: pointer;
  &:hover {
    color: #333333;
  }
}

.todo_circle {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 50%;
  cursor: pointer;
}

.go_check {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  color: #567650;
}