.todo_block {
  max-width: 570px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}

.todo_title {
  font-size: 100px;
  font-weight: 200;
  color: #EADCDB;
  text-align: center;
}